<div class="container col-md-9">
    <form class="p-5" [formGroup]="myForm">
        <h1 class="text-success">Reactive Forms </h1>

        <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" required>
            
            <!-- Validation  -->
            <ng-container *ngIf="myForm.controls['name'].errors">
                <span class="text-danger" *ngIf="myForm.controls['name'].errors['required']">Required </span>
                <span class="text-danger" *ngIf="myForm.controls['name'].errors['minlength']"> Minlength is 4  </span>
            </ng-container><br>
        </div>

        <div class="form-group col-md-6">
            <label>Address</label>
            <textarea type="address" class="form-control" name="address" formControlName="address"></textarea>
        </div><br>

        <div class="form-group col-md-6">
            <div class="m-1">
                <label class="form-label">Select Gender : </label>
                <input type="radio" name="gender" value="male" formControlName="gender">Male
                <input type="radio" name="gender" value="female" formControlName="gender">Female

            </div>
        </div><br>

        <!-- Hobbie  -->
        <div>
            <label>Hobbie:</label>
            <!-- <label>{{checkboxJson | json}}</label> -->
            <div class="form-check" *ngFor="let item of checkboxJson;let i=index">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" [checked]="item.checked" [value]="item.label"
                        (change)="onCheckbox($event)">{{ item.label }}
                </label>
            </div>
        </div>
        <br>

        <div class="form-group col-md-6">
            <label>Cars:</label>
            <select class="form-select" aria-label="Default select example" name="cars" formControlName="cars">
                <option value="Volvo">Volvo</option>
                <option value="Audi">Audi</option>
                <option value="Maruti">Maruti</option>
                <option value="BMW">BMW</option>
            </select>
        </div><br>

        <div class="form-group col-md-6">
            <div>
                <label class="form-label">Date: </label>
                <input class="form-control" type="date" name="date" formControlName="date" />
            </div>
        </div><br>

        <div formArrayName="subject">
            <button type="button" class="btn btn-primary" (click)="addSubject()">Add Subject</button>
            <div *ngFor="let alias of subjectArr.controls; let i=index" [formGroupName]="i">
                <!-- The repeated alias template -->
                <label>SubjectName:</label>
                <input type="text" formControlName="subjectname">
                <!-- The repeated alias template -->
                <label>Marks:</label>
                <input type="number" formControlName="marks">
                <button class="btn btn-danger" (click)="removeSubject(i)">Remove</button><br>
            </div>
        </div><br>




        <button type="button" class="btn btn-danger" (click)="save()">Save</button>&nbsp;
        <button type="button" class="btn btn-warning" (click)="showdata()">Show data</button>
    </form>

</div>