<div class="container col-md-9">
    <form class="p-5" [formGroup]="myForm">
        <h1 class="text-success">Reactive Forms </h1>

        <div class="form-group col-md-6">
            <label>Name</label>
            <input type="text" class="form-control" name="name" formControlName="name">
        </div>

        <div class="form-group col-md-6">
            <label>Address</label>
            <textarea type="address" class="form-control" name="address" formControlName="address"></textarea>
        </div><br>

        <div class="form-group col-md-6">
            <div class="m-1">
                <label class="form-label">Select Gender : </label>
                <input type="radio" name="gender" value="male" formControlName="gender">Male
                <input type="radio" name="gender" value="female" formControlName="gender">Female
    
              </div>
        </div><br>

        <!-- Hobbie  -->
        <div formArrayName="hobbie">
            <label>Hobbie:</label>
            <!-- <label>{{checkboxJson | json}}</label> -->
            <div class="form-check" *ngFor="let item of checkboxJson;let i=index" >
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="checkbox{{i}}"(change)="onCheckbox($event)" >{{item.label}}
                </label>
            </div>
        </div>
        <br>

        <div class="form-group col-md-6">
            <label>Cars:</label>
            <select class="form-select" aria-label="Default select example" name="cars" formControlName="cars">
                <option value="Volvo">Volvo</option>
                <option value="Audi">Audi</option>
                <option value="Maruti">Maruti</option>
                <option value="BMW">BMW</option>
            </select>
        </div><br>

        <div class="form-group col-md-6">
            <div>
                <label class="form-label">Date: </label>
                <input class="form-control" type="date" name="date" formControlName="date" />
            </div>
        </div><br>

        <div formArrayName="subject">
            <button type="button" class="btn btn-primary" (click)="addSubject()">Add Subject</button>
        <div *ngFor="let alias of subject.controls; let i=index">
            <!-- The repeated alias template -->
            <label for="subject-{{ i }}">SubjectName:</label>
            <input id="subject-{{ i }}" type="text" [formControlName]="i">
            <!-- The repeated alias template -->
            <label for="subject-{{ i }}">Marks:</label>
            <input id="subject-{{ i }}" type="number" [formControlName]="i">
            <button class="btn btn-danger" (click)="removeSubject(i)">Remove</button><br>
        </div>
        </div><br>




<button type="button" class="btn btn-danger" (click)="save()">Save</button>&nbsp;
<button type="button" class="btn btn-warning" (click)="showdata()">Show data</button>
</form>

</div>